<div class="search_container">
  <app-search placeholder="Input text" (onSearch)="search($event)"></app-search>
<ng-container *ngIf="isAdmin">
    <app-button text="add course" (click)="addCourse()"></app-button>
</ng-container>  
</div>

<app-course-list [courses]="courses | async" [isEditable]="isAdmin"
    (deleteCourse)="deleteItem($event)"></app-course-list>

<app-modal [(isVisible)]="isShowConfirmModal" (confirm)="confirmedDelete()" cancelButtonText="Cancel"
    message="Are you sure?" okButtonText="Ok" [title]="'Delete course: ' + deletedId"></app-modal>